.container {
	padding: 1%;
	border-bottom: 0.2px solid #5a5a5a39;
	display: flex;
	flex-direction: row;
	width: 70%;
	margin: auto;
}

.email-bar {
	flex: 1;
	text-align: left;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.email-bar__button {
	padding: 0;
	height: 100%;
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 3%;
	background-color: #25252539;
	border-radius: 50%;
	border: 3px solid #5a5a5a39;
	margin: 0px;
}

.email-bar__icon {
	width: 100%;
	height: 100%;
	color: #a3a3a3;
	transition: 0.2s;
}

.email-bar__icon:hover {
	color: white;
}

.email-bar__text {
	padding: 0;
	margin: 0 3%;
	font-weight: 400;
	transition: 0.2s;
}

.contact-links {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.contact-link {
	text-decoration: none;
	color: #5a5a5a;
	transition: 0.2s;
	padding-left: 8%;
}

.contact-link:hover {
	text-decoration: none;
	color: #a3a3a3;
}

.contact-link__sidebar {
	padding-right: 8%;
	border-right: 0.2px solid #5a5a5a39;
}
