.container {
	padding: 2.5%;
	border-bottom: 0.2px solid #5a5a5a39;
	display: flex;
	flex-direction: row;
}

.email-bar {
	flex: 1;
	text-align: left;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.email-bar__button {
	padding: 0;
	height: 100%;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.email-bar__icon {
	height: 100%;
	width: 100%;
	color: #a3a3a3;
	transition: 0.2s;
}

.email-bar__icon:hover {
	color: #5a5a5a;
}

.email-bar__text {
	padding: 0;
	margin: 0 3%;
	font-weight: 400;
	cursor: pointer;
	transition: 0.2s;
}

.email-bar__text:hover {
	color: #5a5a5a;
}

.contact-links {
	flex: 1;
	text-align: right;
}

.contact-link {
	text-decoration: none;
	color: #5a5a5a;
	transition: 0.2s;
	padding-left: 8%;
}

.contact-link:hover {
	text-decoration: none;
	color: #a3a3a3;
}

.contact-link__sidebar {
	padding-right: 8%;
	border-right: 0.2px solid #5a5a5a39;
}
