.main-section {
	margin-top: 5%;
}

.main-section__image img {
	margin-top: 5%;
	width: 12%;
	border-radius: 50%;
}

.main-section__text__title {
	width: 40%;
	margin: auto;
	margin-top: 2.5%;

	font-weight: 400;
	font-size: 2rem;
	font-weight: 500;

	color: #e9e9e9b0;
}

.cv-button {
	background-color: #2c2c2c;
	border: 1px solid #323232;
	border-radius: 3px;
	display: inline-block;
	cursor: pointer;
	color: #e9e9e9b0;
	font-family: "Montserrat", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	padding: 1% 6.7%;
	text-decoration: none;
	transition: background-color 0.2s ease-in-out;
	margin-top: 5%;
	white-space: nowrap;
}

.cv-button:hover {
	background: linear-gradient(linear, #2c2c2c 5%, #545454 100%);
	background-color: #323232;
}

.cv-button__content {
	width: 100%;
	display: flex;
	align-items: center;
}
.cv-button__icon {
	font-size: 1.4rem;
	margin-left: 5%;
}
