.skill-section {
	width: 70%;
	margin: 5% auto;
	border-radius: 70px;
	background-color: rgb(31, 31, 31);
}

.skill-section__content {
	padding: 3% 5%;
	display: flex;
	flex-direction: column;
}

.skill-section__title {
	margin: 1% 0 0.1%;
	font-size: 1.8rem;
}

.skill-section__description {
	padding: 0 16%;
	margin-bottom: 3%;
}

.carousel {
	display: flex;
	justify-content: space-between;
	margin: 2% auto;
	width: 100%;
	align-items: center;
}

.carousel-items {
	display: flex;
	justify-content: space-between;
	width: 60%;
	transition: transform 0.2s ease-in-out;
}

.carousel-button {
	background-color: #ffffff00;
	border: none;
	font-size: 3rem;
	color: #ffffff;
	cursor: pointer;
}

.carousel-item {
	font-size: 1rem;
	font-weight: 800;
}

.carousel-item__icon {
	margin: 0;
	padding: 20px;
	margin: auto;
	font-size: 2.5rem;
	background: linear-gradient(rgb(31, 31, 31), rgb(31, 31, 31)) padding-box,
		linear-gradient(to right, rgb(51, 0, 139), darkorchid) border-box;
	border-radius: 50%;
	border: 10px solid transparent;
}

.carousel-item__title {
	margin-top: 20%;
	font-size: 1.1rem;
}
