.skill-section {
	width: 100%;
	margin: 5% auto;
	border-radius: 40px;
	background-color: rgb(31, 31, 31);
}

.skill-section__content {
	padding: 7% 18%;
	display: flex;
	flex-direction: column;
}

.skill-section__title {
	margin: 0.1% 0;
	font-size: 1.8rem;
}

.carousel {
	display: flex;
	justify-content: center;
	margin: 5% 0;
}

.carousel-item {
	font-size: 1.5rem;
	font-weight: 900;
	padding: 4.5%;
	position: relative;
	width: 50px;
	height: 50px;
	margin: 0 5%;
}

.carousel-item::before {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: 50%;
	padding: 12px;
	background: linear-gradient(45deg, #ff31a6, #5b41b0);
	-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: xor;
	mask-composite: exclude;
}

.carousel-item__icon {
	margin: 0;
	padding: 0;
	margin: auto;
	font-size: 3rem;
}

.carousel-item__title {
	font-size: 1rem;
	margin: 100% auto;
	text-align: center;
}
